.logIncontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    min-height: 40vh;
    min-width: 20vw;
    padding: 1rem
}

form{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 40vh;
    justify-content: space-between;
}

.hideErrorParagraph{
    display: none;}
    
.showErrorParagraph{
    display:block;
    color: var(--cancel-button-red)
}