@import '../../styles/globalVariables.css';


.logInContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 16px;
    border: 1px solid var(--primary-color-blue);
    border-radius: 8px;
  }
  
  .label {
    margin-bottom: 4px;
  }
  
  .input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid var(--secondary-color-black);
    border-radius: 4px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: var(--primary-color-blue);
    border: 1px solid var(--secondary-color-black);
    color: var(--secondary-color-black);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--secondary-color-black);
    border: 1px solid var(--primary-color-blue);
    color: var(--primary-color-blue);
  }

  .hideErrorParagraph{
    display: none;
  }

  .showErrorParagraph{
    display:block;
    color: var(--cancel-button-red)
  }