table{
    border: 1px solid var(--secondary-color-black);
    width: 50vw;
    table-layout: auto;
}

thead th {
    padding: 8px;
    background-color:var(--primary-color-pink);
    width: 20%; 
    border: 1px solid var(--secondary-color-black);
    color: var(--white);
    font-weight: bold;
  }

td{
   padding: 8px;
   border: 1px solid black;
}

thead .showTableButtons{
   width: 89%;
   justify-content: center;
}