:root {
    --primary-color-blue: #375fb6;
    --secondary-color-black: #000000;
    --background-color-grey: #282a2c;
    --modal-background-color: #030101be;
    --white: #ffffff;
    --info-text-bright-green: #88ff00;
    --confirm-button-green: #278827;
    --cancel-button-red: #ff0000;
  }