@import '../../styles/globalVariables.css';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-grey)
}

/* background-color: rgb(69, 71, 116); */