@import '../../styles/globalVariables.css';

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    padding: 0.5rem;
    border-top: 1px solid var(--primary-color-blue);
  }